{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}用户首页 - 我的博客{% endblock %}

{% block page_content %}
<div class="page-header">
    <img class="img-rounded profile-thumbnail" src="{{ user.gravatar(size=256) }}">
    <div class="profile-header">
        <h1>{{ user.username }}</h1>
        {% if user.name or user.location %}
        <p>
            {% if user.name %}{{ user.name }}<br>{% endif %}
            {% if user.location %}来自<a href="http://map.baidu.com/?q={{ user.location }}">{{ user.location }}</a>{% endif %}
        </p>
        {% endif %}
        {% if current_user.is_administrator() %}
        <p><a href="mailto:{{ user.email }}">{{ user.email }}</a> </p>
        {% endif %}
        {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
        <p>
            注册日期：{{ moment(user.member_since).format('L') }}，
            上次登录：{{ moment(user.last_seen).fromNow() }}。
        </p>
        <p>
            {% if user == current_user %}
            <a class="btn btn-default" href="{{ url_for('main.edit_profile') }}">编辑个人信息</a>
            {% endif %}
            {% if current_user.is_administrator() %}
            <a class="btn btn-danger" href="{{ url_for('main.edit_profile_admin', id=user.id) }}">编辑个人信息（管理员）</a>
            {% endif %}
        </p>
    </div>
</div>
{% include '_posts.html' %}
{% if pagination %}
    <div class="pagination">
        {{ macros.pagination_widget(pagination, '.user', username=user.username) }}
    </div>
{% endif %}
{% endblock %}